/*****************************************************************************/
/**************************STANDARD SELECTORS*********************************/
/*****************************************************************************/
body {
    background: url("../Img/background.png") no-repeat fixed;
    background-size: 100%;
    display: grid;
    grid-template-areas:
            "header"
            "main";
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

header {
    grid-area: header;
    background-color: #5A5A5B;
}

main {
    grid-area: main;
}



/*****************************************************************************/
/****************************CUSTOM SELECTORS*********************************/
/*****************************************************************************/
.avatar {
    background-color: rgba(58, 172, 255, 0.58);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    width: 100%;
    height: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-decoration: none !important;
}

.block-project-icon {
    height: 100px;
    padding: 10px 34px !important;
}

.block-project-name {
    height: 50px;
    padding: 0 5px;
    word-wrap: break-word;
}

.modal-box-shadow-2 {
    box-shadow: 0 0 150px rgba(0,0,0,0.5);
}

.btn-add-project {
    height: 150px;
    width: 150px;
    max-height: 150px;
    max-width: 150px;
    cursor: pointer;
    font-size: 63px;
}

.btn-custom:hover {
    cursor: pointer;
    opacity: 75%;
}

.categories-container {
    height: 100%;
    max-height: 70vh;
    overflow-y: auto;
}

.category_li {
    overflow-x: hidden;
}

.category-projects-container {
    height: 100%;
    max-height: 70vh;
    overflow-y: auto;
}

.cursor-select {
    cursor: pointer;
}

.feedback-form textarea {
    resize: none !important;
}

.hidden {
    display: none !important;
}

.a-non-decor:hover {
    text-decoration: none;
}

.list-group-item:hover {
    border: #007bff 1px solid !important;
}

.my-border {
    border-color: #fff;
    border-style: solid;
    border-width: 2px;
}

.non-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.ph-class {
    border: dotted 1px #5A5A5B;
}

.prj-dropdown {
    min-width: 300px;
    max-height: 90vh;
}

.prjs-container {
    overflow-y: auto !important;
}

.project-card {
    height: 150px;
    width: 150px;
    max-height: 150px;
    max-width: 150px;
    cursor: pointer;
}

.project-card:hover {
    border: #007bff 1px solid;
}

.small-text {
    font-size: 0.90rem !important;
}

#states-container {
    height: 100%;
}

.states-style {
    min-width: 350px;
    background-color: rgba(200, 200, 200, 0.1);
}

.state-tasks {
    overflow-y: auto;
    height: 100%;
    max-height: 85vh;
    background-color: rgba(0, 0, 0, 0);
}

/* Scrollbar width*/
.state-tasks::-webkit-scrollbar,
.prjs-container::-webkit-scrollbar,
.subtasks-container::-webkit-scrollbar,
.categories-container::-webkit-scrollbar,
.category-projects-container::-webkit-scrollbar
{
    width: 6px;
}

/* Track */
.state-tasks::-webkit-scrollbar-track,
.prjs-container::-webkit-scrollbar-track,
.subtasks-container::-webkit-scrollbar-track,
.categories-container::-webkit-scrollbar-track,
.category-projects-container::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.state-tasks::-webkit-scrollbar-thumb,
.prjs-container::-webkit-scrollbar-thumb,
.subtasks-container::-webkit-scrollbar-thumb,
.categories-container::-webkit-scrollbar-thumb,
.category-projects-container::-webkit-scrollbar-thumb
{
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: rgb(47, 47, 47);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* Scrollbar color */
.state-tasks::-webkit-scrollbar-thumb:window-inactive,
.prjs-container::-webkit-scrollbar-thumb:window-inactive,
.subtasks-container::-webkit-scrollbar-thumb:window-inactive,
.categories-container::-webkit-scrollbar-thumb:window-inactive,
.category-projects-container::-webkit-scrollbar-thumb:window-inactive
{
    background: #5A5A5B;
}

.subtasks-container {
    height: 100%;
    max-height: 70vh;
    overflow-y: auto;
}

.task {
    margin-bottom: 0.5em;
    cursor: pointer;
}

.task-title, .task-items, .sub-task-counter {
    pointer-events: none;
}

.user-avatar:hover {
    opacity: 75%;
}

.post_main_img {
    max-width: 100%;
}