* {
    font-family: RobotoRegular, RobotoLight, RobotoMedium, RobotoBold, monospace;
}

body {
    display: grid !important;
    display: -ms-grid !important;
    grid-template-areas:
        "header"
        "main";
    grid-template-rows: 55px 1fr;

    height: 100vh;
    overflow-x: hidden;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    display: grid !important;
    display: -ms-grid !important;
    grid-template-columns: repeat(5, 350px);
    grid-gap: 20px;
    overflow-y: hidden;
}

.counter-stl {
    background-color: rgba(255, 255, 255, 0.3) !important;
    color: white !important;
}

.filter-low-text-color {
    color: #17a2b8;
}

.lp-btn {
    cursor: pointer !important;
}
.lp-btn:hover {
    color: lightseagreen;
}

.lp-modal-bg {
    background-color: rgba(61, 61, 61, .7);
}

.non-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.offcanvas-project-image, .user-avatar {
    min-width: 48px !important;
    min-height: 48px !important;
    height: 48px !important;
    width: 48px !important;
}


.state {
    min-width: 350px;
    background-color: rgba(0, 0, 0, 0.3);
    height: calc(100vh - 55px - 20px); /* - шапка - скролл*/
}

.states-container {
    min-width: 100%;
}

.task-container {
    overflow-y: auto;
    height: 100%;
    max-height: 85vh;
}

.task {
    cursor: pointer;
    border: 1px solid black;
    border-left: 3px solid black;
    padding: 7px 7px 7px 10px;
}

.task-cls-placeholder {
    border: 1px white dotted;
}

/* цвета приоритетов для задач*/
.task-priority-critical {
    border-left: 3px inset #f0506e;
}
.task-priority-critical:hover {
    border: 1px solid #f0506e;
    border-left-width: 3px;
}
.task-priority-critical > .task-title {
    color: #f0506e;
}


.task-priority-high {
    border-left: 3px inset #faa05a;
}
.task-priority-high:hover {
    border: 1px solid #faa05a;
    border-left-width: 3px;
}
.task-priority-high > .task-title {
    color: #faa05a;
}


.task-priority-mid {
    border-left: 3px inset #32d296;
}
.task-priority-mid:hover {
    border: 1px solid #32d296;
    border-left-width: 3px;
}
.task-priority-mid > .task-title {
    color: #32d296;
}

.task-priority-low {
    border-left: 3px inset #17a2b8;
}
.task-priority-low:hover {
    border: 1px solid #17a2b8;
    border-left-width: 3px;
}
.task-priority-low > .task-title {
    color: #17a2b8;
}


.task-priority-critical, .task-priority-high, .task-priority-mid, .task-priority-low {
    font-weight: lighter;
    color: black !important;
}


.task-dates {
    background-color: rgba(255, 255, 255, 0.05) !important;
    color: #a3a3a3 !important;
}

.task-scores {
    background-color: rgba(255, 255, 255, 0.3) !important;
    color: black !important;
}

.task-title, .task-items > .uk-badge, .sub-task-counter {
    pointer-events: none !important;
}


.user-info-avatar {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border: white 1px solid;
    border-radius: 3px;
    text-align: center;
    text-shadow: 0 0 3px black;
    margin-right: 10px;
    font-weight: bold;
    font-size: large;
    color: white;
}
.user-info-name {
    display: inline-block;
}

.user-notify-container {
    max-height: 70vh;
    overflow-y: auto;
}

/***********************************************************************************************************************
************************************************************************************************************************
***********************************************************************************************************************/
/* fixes*/
/* решение "локальной" проблемы с позиционирование uk-card-badge */
#state_1_counter,
#state_2_counter,
#state_3_counter,
#state_4_counter,
#state_5_counter {
    top: 16px;
}

.icon-fix {
    padding-top: 3px;
}

.icon-fix-modal {
    margin: -2px 4px 2px -3px;
}

.uk-offcanvas-bar {
    border-right: 1px solid #343434;
}



/***********************************************************************************************************************
************************************************************************************************************************
***********************************************************************************************************************/
/* Scrollbar width*/
.task-container::-webkit-scrollbar,
.user-notify-container::-webkit-scrollbar,
.uk-offcanvas-bar::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}

/* Track */
.task-container::-webkit-scrollbar-track,
.user-notify-container::-webkit-scrollbar-track,
.uk-offcanvas-bar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.task-container::-webkit-scrollbar-thumb,
.user-notify-container::-webkit-scrollbar-thumb,
.uk-offcanvas-bar::-webkit-scrollbar-thumb
{
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: rgb(47, 47, 47);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* Scrollbar color */
.task-container::-webkit-scrollbar-thumb:window-inactive,
.user-notify-container::-webkit-scrollbar-thumb:window-inactive,
.uk-offcanvas-bar::-webkit-scrollbar-thumb:window-inactive
{
    background: #5A5A5B;
}

@media screen and (max-width: 800px){
    header > nav {
        display: grid !important;
        grid-template-rows: repeat(3, auto);
        row-gap: 15px;
    }
}


/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../Fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../Fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../Fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../Fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../Fonts/RobotoLight/RobotoLight.eot");
    src: url("../Fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../Fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("../Fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../Fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../Fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../Fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../Fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../Fonts/RobotoBold/RobotoBold.eot");
    src: url("../Fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../Fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../Fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}